# docker-golang

* Apline linux + Go ${VERSION} + Glide

## Versions
- Alpine linux
- Go ${VERSION}
- Glide (latest)

## Usage

`docker run --rm -it chrisgarrett/golang:${VERSION} go version`


## Credits
